        <br/>
        <br/>
        <div class="container card bg-{{theme_context.cardbg}}" style="width: 18rem; z-index: 0;">
            <img src="{{spot_context.image}}" class="card-img-top" style="padding-top: 15px;">
            <div class="card-body">
                <h5 class="card-title text-{{theme_context.cardtext}}">{{spot_context.name}}</h5>
                <p class="card-text text-{{theme_context.cardtext}}">{{spot_context.description}}</p>
                <a href="#" class="btn btn-primary">Forecast</a>
            </div>
        </div>
        <br/>
        <br/>